# Node modules
node_modules/

# Environment files
.env
.env.local

# Logs
logs/
*.log

# OS files
.DS_Store
Thumbs.db


# Build / dist folders
dist/
build/

# IDE files
.vscode/
.idea/
.claude/
Config/
Playwright/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
